<p>Dear {{name}},</p>

<p>Cảm ơn bạn đã đặt hàng tại Passdy.</p>

<p>Passdy rất vui thông báo đơn hàng gửi trả #{{order_id}} của bạn đã được tiếp nhận và đang trong quá trình xử lý.
    Passdy sẽ thông báo đến bạn ngay khi hàng chuẩn bị được giao.</p>


<p><b>THÔNG TIN ĐƠN HÀNG #{{order_id}} ({{create_time_string}})</b></p>
<hr>
<p><b>Địa chỉ giao hàng</b></p>
<ul>
    <li>Lê Nam Anh</li>
    <li>namanhle59@gmail.com</li>
    <li>Caliital Garden Building, 102 Trường Chinh, Hà Nội., lihường Khương Thượng, Quận Đống Đa, Hà Nội, Việt Nam</li>
    <li>T: 0963557153</li>
</ul>

<p><b>Phương thức thanh toán:</b></p>
<ul>
    <li>Thanh toán tiền mặt khi nhận hàng</li>
</ul>

<p><b>Thời gian giao hàng dự kiến:<b></p>
<ul>
    <li>Dự kiến giao hàng {{delivery_time_string}} - không giao ngày Chủ Nhật</li>
</ul>

<p><b>Phí vận chuyển:</b>
<p>

<ul>
    <li>{{delivery_fee}} VND</li>
</ul>

<p>CHI TIẾT ĐƠN HÀNG</p>

<hr>
<ul>
    <li>OrderID: {{order_id}}</li>
    <li>ReturnID: {{return_id}}</li>
    <li>Số lượng: {{number_return}}</li>
</ul>

<p><i>Mọi vướng mắc liên quan đến dịch vụ của Passdy, bạn liên hệ với chúng mình qua tổng đài 0948256677 hoặc nhắn tin
        qua fanpage: [https://www.facebook.com/passdyvn](https://www.facebook.com/passdyvn) để được hỗ trợ nhanh chóng
        nhất nhé!</i></p>

<p>Thân gửi,</p>

<p><b>Ngọc Diệp</b></p>

<p>Passdy Customer Support</p>